
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F8F8F8;
    scroll-behavior: smooth;
}


.container-fluid {
    background-color: #83ACF2; 
    text-align: center;
}

